html {
    font-family: 'Open Sans', sans-serif;
    color: black;
}
body {
    margin: 0;
    background-color: #efefef;
}

.hero {
    padding: 12rem;
    color:white;
    height: 100vh;
    background-color: #efefef;
    background-image: url(img/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero__container {
    padding: 2rem;
    text-align: center;
}

.hero__img {
    width: 320px;
}

.hero__date {
    margin: 1rem 0;
    font-size: 34px;;
}

.hero__text {
    margin: 0;
    font-size: 22px;
}

.hero__tickets {
    background-color: white;
    color: #4a4deb;
    font-size: 15px;
    padding: 1rem;
    border-radius: 5%;
    text-decoration: none;
}

.hero__ticketimg {
    width: 30px;
}

.subscribe-block {
    background-color: #4a4deb;
    width: 100%;
    color: white;
}

.subscribe-block__information {
    background-color: #4a4deb;
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
}

.subscribe-block__button {
    color:white;
    font-size: 1.3rem;
    text-align:center;
    padding: 2rem;
    text-decoration: none;
    display: block;
}

.subscribe-block__icon {
    width: 27px;
}

.what-is{
    padding: 3rem;
    display: inline;
    display: flex;
}

.what-is__img {
    padding: 3rem;
    object-fit:contain;
}

.what-is__information {
    padding: 1rem;
    font-size: 20px;
}

.what-is__answer {
    font-size: 14px;
}


.what-is__link {
    color: #4a4deb;
    font-size: 14px;
    text-decoration: none;
    width: 10px;
}

.what-is__icon {
    width: 25px;
}


